body
{
	font-size:16px;
	line-height: 26px;
}
.container
{
	max-width: 970px;
}
.carousel-caption
{
	max-width: 500px;
	margin:0 auto;
}
.navbar-static-top
{
	background:#393;
	opacity: .75;
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand
{
	color:#FFF;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-brand:hover
{
	text-decoration: underline;
}
.carousel-inner>.item
{
	background-size: cover;
	min-height: 350px;
}
.carousel-indicators
{
	bottom:0px;
}
.btn-primary
{
	background-color:#393;
	box-shadow: 0 1px 2px rgba(0,0,0,.6);
	border:1px solid #282;
}
.btn-primary:hover
{
	background-color:#282;
}
.btn-primary a
{
		text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
ul.faq
{
	list-style-type: none;
}
ul.faq li:nth-child(even)
{
	margin-bottom:20px;
}
.gm-style .gm-style-iw
{
    font-size: 14px;
}

/*---- MODAL STYLES ----*/
.modal-header
{
	text-align: center;
	background:#333;
	color:#FFF;
}
.modal-header .close
{
	color:#FFF;
	opacity: 1;
}
.container.partners, .container.funders
{
	text-align: center;
}
.container.funders img
{
	max-width: 250px;
	margin-bottom: 20px;
}
.container.partners img
{
	max-width: 200px;
	margin-bottom: 20px;
}
.popup-marker-data h4, .popup-marker-data h5
{
	margin-bottom: 5px;
}
.popup-marker-data, .popup-marker-data dt, .popup-marker-data dd
{
	line-height: 18px;
}


a { color: #4B58A6; }

#map_canvas img {
  max-width: none;
}

#map_canvas { min-height: 400px; }

.filter-box { 
  height: 15px; 
  width: 15px;  
  display: inline-block;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box; 
}

.filter-yellow { background-color: #FBF358; }
.filter-green { background-color: #00E13C; }
.filter-blue { background-color: #5781FC; }
.filter-purple { background-color: #7C54FB; }
.filter-red { background-color: #FB6353; }

canvas {-ms-touch-action: double-tap-zoom;}

/* Map Info Window Content */
.popup-marker-data p { margin-bottom: 5px; }
.popup-marker-data hr { margin: 5px 0 5px 0; }
.popup-marker-data .dl-horizontal { margin-top: 5px; }
.popup-marker-data dt { width: 105px; }	
.popup-marker-data dd { margin-left: 115px; }	

.dl-horizontal dt {
float: left;
clear: left;
text-align: right;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}