<!DOCTYPE html>
<html lang='en'>
<head>
  <title>Early Childhood Services in Indianapolis</title>
  <meta charset='utf-8' />
  <meta content='width=device-width, initial-scale=1.0' name='viewport' />
  <meta content='' name='description' />
  <meta content='' name='author' />
  <!-- Styles -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <div class="navbar-wrapper">
      <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <ul class="nav navbar-nav">
      </ul>
        <div class="container">
          <div class="navbar-header">
            
            <a class="navbar-brand" href="#">Pre-school and childcare programs in Indianapolis</a>
          </div>
          
        </div>
      </div>
  </div>
  <div class='container-fluid'>
    <div class='row-fluid'>
      
      <div class='col-xs-12 col-sm-3'>
        <p align="center">
          <img src='images/EIndyLogo.png' width="150px">
        </p>
        <p>
          This tool shows pre-school and childcare programs available across Indianapolis. You can search for an address below and filter by what the programs provide.
          </p>
          
          <p>
            <a href="http://childcareindiana.org/about/">Paths to QUALITY™</a> is Indiana’s statewide quality rating and improvement system for early care and education. <a href="http://childcareindiana.org/levels/">Learn about what is required for each of the four levels</a>.
          </p>


     <!--    <p align="center">
          <img src='images/eologo.png' width="150px"></p>
        <p>
          EarlyOakland is a campaign by the Oakland Education Cabinet to help Oaklanders find affordable early care and education services. You can use the map of to find subsidized programs for eligible families and children including HeadStart and Child Development Centers. Stay tuned for more resources!
          <a href='about.html'><strong>Read more &raquo;</strong></a>
          
          <p>
            If you cannot find the service you are looking for or need more assistance contact <a href='http://www.bananasinc.org' target="_blank">BANANAS</a> or call (510) 658-0381.
          </p>
           <p>
            <a href='http://openoakland.org' target="_blank">Brought to you by OpenOakland</a>
            &
            <a href='http://www.oaklandnet.com' target="_blank">the Oakland Education Cabinet</a>
            .
          </p>
          
        </p> -->

          <div class='well'>
          <h4>
            Enter an address or an intersection (<a id='find_me' href='#'>find me</a>)
          </h4>
          <input class='input-block-level' id='search_address' placeholder='' type='text' />
          <input class='btn btn-primary' id='search' type='button' value='Search' />
        </div>

      </div>
      
      <div class='col-xs-12 col-sm-9 col-md-6' id="mapContainer">
        <div id='map_canvas'></div>
      </div>
      
      <div class='col-xs-12 col-sm-9 col-md-3'>
      
        <div class='well'>
          <!-- Once you decide what filter you want, place the HTML code here. The section in the maps_lib.js is also marked. Once you're done, feel free to delete this explanatory section. -->

        <p class='alert alert-info lead' id='result_count'></p>
        
         <h4>Ages</h4>
              <label data-key='Age' data-value='Under 3 Years' class='checkbox inline'>
                <input type='checkbox' id='cbType1' />
                Under 3 Years
              </label>
              <label data-key='Age' data-value='3-5 Years' class='checkbox inline'>
                <input type='checkbox' id='cbType1' />
                3-5 Years
              </label>
              <label data-key='Age' data-value='3-8 Years' class='checkbox inline'>
                <input type='checkbox' id='cbType1' />
                3-8 Years
              </label>
              <label data-key='Age' data-value='3-12 Years' class='checkbox inline'>
                <input type='checkbox' id='cbType1' />
                3-12 Years
              </label>

  <h4>Type of Care</h4>
              <label data-key='TypeOfCare' data-value='Family Child Care' class='checkbox inline'>
                <input type='checkbox' id='cbType1' />
                Family Child Care
              </label>
              <label data-key='TypeOfCare' data-value='(CCC) Head Start Program' class='checkbox inline'>
                <input type='checkbox' id='cbType1' />
                Head Start Program
              </label>
              <label data-key='TypeOfCare' data-value='Child Care Center' class='checkbox inline'>
                <input type='checkbox' id='cbType1' />
                Child Care Center
              </label>
              <label data-key='TypeOfCare' data-value='(CCC) Ministry' class='checkbox inline'>
                <input type='checkbox' id='cbType1' />
                Ministry
              </label>
              <label data-key='TypeOfCare' data-value='School Age Program' class='checkbox inline'>
                <input type='checkbox' id='cbType1' />
                School Age Program
              </label>
              <label data-key='TypeOfCare' data-value='Preschool Program' class='checkbox inline'>
                <input type='checkbox' id='cbType1' />
                Preschool Program
              </label>


          <h4>Paths to QUALITY™ Level</h4>
              <label data-key='PTQLevel' data-value='Paths to QUALITY Level 4 - Highest Level' class='checkbox inline'>
                <input type='checkbox' id='cbType1' />
                <span class='filter-box filter-blue'></span>
                Level 4 - Highest Level
              </label>
              <label data-key='PTQLevel' data-value='Paths to QUALITY Level 3' class='checkbox inline'>
                <input type='checkbox' id='cbType1' />
                <span class='filter-box filter-teal'></span>
                Level 3
              </label>
              <label data-key='PTQLevel' data-value='Paths to QUALITY Level 2' class='checkbox inline'>
                <input type='checkbox' id='cbType1' />
                <span class='filter-box filter-green'></span>
                Level 2
              </label>
              <label data-key='PTQLevel' data-value='Paths to QUALITY Level 1 - Entry Level' class='checkbox inline'>
                <input type='checkbox' id='cbType1' />
                <span class='filter-box filter-gold'></span>
                Level 1 - Entry Level
              </label>

          <h4>Licence Type</h4>
              <label data-key='RegulatoryType' data-value='Licensed' class='checkbox inline'>
                <input type='checkbox' id='cbType1' />
                <span class='filter-box filter-orange'></span>
                Licenced
              </label>
              <label data-key='RegulatoryType' data-value='Registered' class='checkbox inline'>
                <input type='checkbox' id='cbType1' />
                <span class='filter-box filter-red'></span>
                Registered
              </label>
              <label data-key='RegulatoryType' data-value='Unregistered' class='checkbox inline'>
                <input type='checkbox' id='cbType1' />
                <span class='filter-box filter-purple'></span>
                Not Licensed or Registered
              </label>

          <h4>Financial Assistance Options</h4>
              <label data-key='Financial Assistance Options' data-value='CCDF vouchers' class='checkbox inline'>
                <input type='checkbox' id='cbType1' />
                CCDF vouchers
              </label>
              <label data-key='Financial Assistance Options' data-value='Scholarships' class='checkbox inline'>
                <input type='checkbox' id='cbType1' />
                Scholarships
              </label>
              <label data-key='Financial Assistance Options' data-value='Discount for more than one child' class='checkbox inline'>
                <input type='checkbox' id='cbType1' />
                Discount for more than one child
              </label>
              <label data-key='Financial Assistance Options' data-value='Sliding fee scale' class='checkbox inline'>
                <input type='checkbox' id='cbType1' />
                Sliding fee scale
              </label>
              <label data-key='Financial Assistance Options' data-value='Employer/college supported discounts' class='checkbox inline'>
                <input type='checkbox' id='cbType1' />
                Employer/college supported discounts
              </label>

        
        

        


        </div>
        

      </div>

    </div>
  </div>
  <!--MODALS!-->
  <div class="modal fade bs-example-modal-lg" id="suggestions"tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Finding and Enrolling in Early Education Programs in Oakland: </h4>
        </div>
        
        <div class="row featurette"> 
          <div class="col-md-3">
            <img class="featurette-image img-responsive" src="images/slide500.jpg" alt="slides">
          </div>
          <div class="col-md-9">
        <ul>
          <li>First- use our <a href="find.html">map tool</a> to locate a service that is convenient for you.</li>
          <li>Talk to other parents about their experiences; read materials from <a href="http://bananasinc.org">BANANAS</a> on selecting the right choice for your child and your family.</li>
          <li>Call BANANAS for information and referrals to different types of programs -- full or part time, different age groups, private, public, subsidized, etc.  (510) 658-0381 <strong>and</strong>
            If you think your family meets low income guidelines – or if you have a child with a special need -- call the following subsidized programs directly:</li>
            <ul>
          <li>Oakland Unified School District: 510-273-1590, <a href="http://www.ousd.k12.ca.us/domain/92">website</a></li>
          <li>Oakland Head Start: 510-238-3165, <a href="http://www2.oaklandnet.com/Government/o/DHS/o/ChildrenYouthServices/OAK022077">website</a></li>
          <li>Unity Council: 510-535-6102 <a href="http://www.unitycouncil.org/head-start-and-early-head-start/">website</a></li>
          <li>Ask questions about the services and learning opportunities provided, and where programs are located (link to our map), and visit them.</li>
          <li>Be prepared to complete paperwork and present documents such as children’s birth certificates, family income, health and immunization records. proof of residency (not citizenship or immigrant status). </li>
        </ul>
        <p>Families in transition or without permanent homes are welcome.
        You may be put on a waiting list; don’t give up!  Keep calling!</p>
        <p><a class="btn btn-lg btn-primary" href="find.html" role="button">Find Services Nearby!</a></p>

          </div>
        </div>
        
      </div>
    </div>
  </div>

  <!--MODALS!-->
  <div class="modal fade bs-example-modal-lg" id="faq"tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Frequently Asked Questions</h4>
        </div>
        <ul class="faq">
        <li><strong>What programs are included in this website?</strong></li>
        <li>All of the State subsidized early learning programs and all of the federally supported Head Start programs in Oakland.  This includes part day and full day programs.  Most serve 3 & 4 year olds; a few are for infants and toddlers.  The website provides information on each program.</li>
        <li><strong>Do these programs charge a fee?</strong></li>
        <li>Head Start does not; the state subsidized programs may charge a small fee depending on your income.</li>
        <li><strong>What if I am not low income?</strong></li>
        <li>Head Start is open to some higher income families; call to find out if you qualify.
        Call BANANAS—510-658-0138 for referrals to private early learning programs.</li>
        <li><strong>What if I have a CalWorks or other Alternative Payment Voucher to pay for child care?</strong></li>
        <li>Ask the program if they will accept your voucher – or call BANANAS for referrals to private programs that accept vouchers (most do!).</li>
        <li><strong>What if my child has a special need?</strong></li>
        <li>Tell the program about your child;  you can also call the Family Resource Network Oakland for assistance ((510) 547-7322 or www.frmoakland.org)</li>
        </ul>
      </div>
    </div>
  </div>
  <script type="text/template" class="info-window-content-template">
    <div class="popup-marker-data" style="height:300px;max-width:220px;">
        <h4><%= businessname.value %></h4>
        <%= streetaddress.value %><br />
        <%= city.value %>,
        <%= zip.value %><br />
        <%= phone.value %><br />
        <% if ( typeof website !== 'undefined' ) { %> 
        <a href="<%= website.value %>">Website</a><br />
        <% } %>
        <h5>Program Details</h5>
        <hr>
        <dl class="dl-horizontal">
            <% if ( typeof ages !== 'undefined' ) { %> 
                <dt><%= ages.name %>:</dt>
                <dd><%= ages.value %></dd>
            <% } %>

            <% if ( typeof feeassistance !== 'undefined' ) { %> 
                <dt>Fee Assistance:</dt>
                <dd><%= feeassistance.value %></dd>
            <% } %>
 
        </dl>
    </div>
  </script>
  <script type="text/javascript" src="source/jquery.js"></script>
  <script type="text/javascript" src="source/bootstrap.js"></script>
  <script type="text/javascript" src="source/jquery.address.min.js"></script>
  <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false&amp;libraries=places"></script>
  <script type="text/javascript" src="source/jquery.geocomplete.min.js"></script>
  <script type="text/javascript" src="source/maps_lib.js"></script>
  <script type="text/javascript" src="source/underscore.js"></script>
  <script type="text/javascript" src="source/config.js"></script>
  <script type="text/javascript" src="source/util.js"></script>
  <script type="text/javascript" src="source/index.js"></script>

  
</body>
</html>
